* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #B40000;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 0;
    /* border: solid 1px black; */
    }

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 8px;
    /* border: solid 1px red; */
}

.nav-links {
    display: flex;
    /* border: solid 1px red; */
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin: 0 10px;
    
}

.nav-links a,
.title p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-logo {
    width: 48px;
    height: auto;
}

.hero {
    background-color: #B40000;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.title,
.celly {
    flex-grow: 0;
    width: 40%
}

.title h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

button {
    background-color: #000000;
    color: #f9faf8;
    border-radius: 8px;
    border: none;
    position: relative;
    padding: 4px 16px;
    width: fit-content;
}

button:active {
    top: 2px;
    left: 2px;
}

.title {
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.players {
    text-align: center;
    width: 80%;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 0 
}

.player-card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.player-card {
    flex-wrap: wrap;
}